.bg{
    background-image: url('https://img.freepik.com/premium-photo/highlevel-chef-heat-service-created-with-generative-ai-technology_853812-1613.jpg?w=1060');
    border: none;
    border-radius: 24px;

}